In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [45]:
Titanic = sns.load_dataset('titanic')

In [32]:
titanic = sns.load_dataset('titanic')

In [46]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [48]:
titanic.drop(['class', 'who', 'adult_male','embark_town', 'alive', 'alone'], axis=1, inplace=True)

In [50]:
titanic.dropna(inplace=True)

In [51]:
titanic.age=titanic.age.astype(int)
titanic.fare=titanic.fare.astype(int)

In [52]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182 entries, 1 to 889
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  182 non-null    int64
 1   pclass    182 non-null    int64
 2   sex       182 non-null    object
 3   age       182 non-null    int32
 4   sibsp     182 non-null    int64
 5   parch     182 non-null    int64
 6   fare      182 non-null    int32
 7   embarked  182 non-null    object
 8   deck      182 non-null    category
dtypes: category(1), int32(2), int64(4), object(2)
memory usage: 11.9+ KB

In [53]:
titanic.embarked.value_counts()

S    115
C     65
Q      2
Name: embarked, dtype: int64

In [54]:
titanic.deck.value_counts()

C    51
B    43
D    31
E    30
A    12
F    11
G     4
Name: deck, dtype: int64

In [55]:
titanic.sex.value_counts()

male      94
female    88
Name: sex, dtype: int64

In [57]:
dict = {'embarked':{'S':1, 'C':2, 'Q':3}, 
       'deck':{'C':1, 'B':2, 'D':3, 'E':4, 'A':5, 'F':6, 'G':7},
       "sex":{'male':1, 'female': 2}}

In [58]:
titanic2=titanic

In [59]:
titanic2.replace(dict,inplace=True)

In [60]:
titanic2.head()

    survived  pclass  sex  age  sibsp  parch  fare  embarked  deck
1          1       1    2   38      1      0    71         2     1
3          1       1    2   35      1      0    53         1     1
6          0       1    1   54      0      0    51         1     4
10         1       3    2    4      1      1    16         1     7
11         1       1    2   58      0      0    26         1     1

In [61]:
y=titanic2.survived
x=titanic2.drop('survived',axis=1)

In [62]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=76)

In [63]:
decisionTree = DecisionTreeClassifier(random_state=76)
decisionTree.fit(x_train, y_train)

DecisionTreeClassifier(random_state=76)

In [64]:
treePredictions = decisionTree.predict(x_test)
print(confusion_matrix(y_test, treePredictions))
print(classification_report(y_test, treePredictions))

[[13  6]
 [ 6 30]]
              precision    recall  f1-score   support

           0       0.68      0.68      0.68        19
           1       0.83      0.83      0.83        36

    accuracy                           0.78        55
   macro avg       0.76      0.76      0.76        55
weighted avg       0.78      0.78      0.78        55

In [65]:
forest = RandomForestClassifier(n_estimators=500, random_state=76)
forest.fit(x_train, y_train)

RandomForestClassifier(n_estimators=500, random_state=76)

In [66]:
forestPredictions = forest.predict(x_test)
print(confusion_matrix(y_test, forestPredictions))
print(classification_report(y_test, forestPredictions))

[[12  7]
 [ 6 30]]
              precision    recall  f1-score   support

           0       0.67      0.63      0.65        19
           1       0.81      0.83      0.82        36

    accuracy                           0.76        55
   macro avg       0.74      0.73      0.74        55
weighted avg       0.76      0.76      0.76        55